<%- include('partials/_header.ejs') -%>
      
<%- include('partials/_navigation.ejs') -%>
      <!-- end header inner -->
      <!-- end header -->
       <!-- latest news -->
       <div class="latest">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Welcome <%= user.name %></h2>
                     
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="news_img">
                     <figure><img src="/images/nes.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  footer -->
      <%- include('partials/_footer.ejs') -%>