<%- include('partials/_header.ejs') -%>

    <%- include('partials/_navigation.ejs'); %>

        <div class="container">
            <div class="back_re">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="title">
                            <h2>Register</h2>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
                <div class="container mt-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact_form">
                            <div id="message"></div>
                            <form method="POST" action="users/signup">
                                <div class="row row-fluid">
                                    <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                        <input type="text" name="name" class="form-control"
                                            placeholder="Name">
                                            <div class="col-md-12">
                                                <div style="display: none;" class="alert alert-danger" id="name"></div>
                                             </div>
                                    </div>
                                    
                                    <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                        <input type="email" name="email"  class="form-control"
                                            placeholder="Email">
                                            <div class="col-md-12">
                                                <div style="display: none;" class="alert alert-danger" id="email"></div>
                                             </div>
                                    </div>
                                    
                                    <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                        <select class="form-control" name="role">
                                            <option value="" disabled selected>Select role</option>
                                            <option>trainer</option>
                                            <option>member</option>
                                        </select>
                                    </div>
                                    <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                        <input type="password" name="password" class="form-control"
                                            placeholder="Password">
                                            <div class="col-md-12">
                                                <div style="display: none;" class="alert alert-danger" id="password"></div>
                                             </div>
                                    </div>
                                  
                                    <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                        <button type="submit" value="LOGIN" id="submit"
                                            class="btn btn-light btn-radius btn-brd grd1 btn-block">REGISTER</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
            </div><!-- end container -->
        </div><!-- end container -->
        <script>
            const form = document.querySelector('form')
            const emailError = document.querySelector('#email')
            const passwordError = document.querySelector('#password')
            const nameError = document.querySelector('#name')

            form.addEventListener("submit", async (e) => {
               e.preventDefault(); // tıkladığın zaman yapman gereken refresh işlemini yapma

               emailError.textContent = "";
               passwordError.textContent = "";
               nameError.textContent = "";
               
               emailError.style.display = "none"
               passwordError.style.display = "none"
               nameError.style.display = "none"

               const email = form.email.value
               const password = form.password.value
               const name = form.name.value

               try {
                  const res = await fetch('/users/signup', {
                     method: "POST",
                     body: JSON.stringify({ email, password, name }),
                     headers: { "Content-Type": "application/json" }
                  })

                  const data = await res.json();

                  console.log('data::',data);
                  
                  if (data && Object.getOwnPropertyNames(data).length !== 0) {
                   
                    
                     if (data.email) {    
                        emailError.textContent = data.email
                        emailError.style.display = "block"
                     }

                     if (data.password) {
                        passwordError.textContent = data.password
                        passwordError.style.display = "block"
                     }

                     if (data.name) {
                        nameError.textContent = data.name
                        nameError.style.display = "block"
                     }


                  }

                  if (data.user) {console.log('data.user:::',data.user);
                  
                     location.assign("/login")
                  }

               } catch (err) {
                  console.log("ERR::", err)
               }
            })
         </script>


        <%- include('partials/_footer.ejs'); %>